// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$green:         #00989E;
$dark-green: 	#005C5F;
$light-green: 	#5FAFB3;
$yellow: 		#F1C608;
$brown: 		#9E846D;
$orange: 		#E67E22;
$red: 			#D35400;
$purple: 		#D7AACF;
$light-gray: 	#F7F9F9;
$light-blue: 	#E8F0FE;
$copy: 			#4E5B61;